{% extends 'base.html' %}

{% block title %}Спросить{% endblock %}

{% block page_title %}Задать вопрос{% endblock %}

{% block content %}
  {% for err in form.non_field_errors %}
    <div class="ask-form-error">
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ err }}
      </div>
    </div>
  {% endfor %}
  <div class="ask-form">
    <form class="form-horizontal" method="post" action="">
      {% csrf_token %}
      <div class="form-group {% if form.title.errors %}has-error{% endif %}">
        <label for="title" class="col-sm-3 control-label">{{ form.title.label }}</label>
        <div class="col-sm-6">
          {{ form. title }}
          {% if form.title.errors %}
            {% for err in form.title.errors %}
              <div class="login-form-error">
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  {{ err }}
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="form-group {% if form.text.errors %}has-error{% endif %}">
        <label for="text" class="col-sm-3 control-label">{{ form.text.label }}</label>
        <div class="col-sm-6">
          {{ form.text }}
          {% if form.text.errors %}
            {% for err in form.text.errors %}
              <div class="login-form-error">
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  {{ err }}
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="tag" class=" col-sm-3 control-label">Теги</label>
        <div class="col-sm-2">
          {{ form.tag1 }}
        </div>
        <div class="col-sm-2">
          {{ form.tag2 }}
        </div>
        <div class="col-sm-2">
          {{ form.tag3 }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
          <button type="submit" class="btn btn-primary">Спросить!</button>
        </div>
      </div>
    </form>
  </div>

{% endblock %}
