{% extends 'base.html' %}

{% block title %}Спросить{% endblock %}

{% block page_title %}Задать вопрос{% endblock %}

{% block content %}

  {% if errs %}
    {% for i in errs %}
      <div class="ask-form-error">
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          Тестовая ошибка {{ i }}
        </div>
      </div>
    {% endfor %}
  {% endif %}
  <div class="ask-form">
    <form class="form-horizontal" method="post" action="">
      {% csrf_token %}
      <div class="form-group {% if errs %}has-error{% endif %}">
        <label for="title" class="col-sm-3 control-label">Тема вопроса</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="title" placeholder="Введите тему вопроса"></input>
          {% if errs %}
            Тестовая ошибка в поле ввода
          {% endif %}
        </div>
      </div>
      <div class="form-group {% if errs %}has-error{% endif %}">
        <label for="text" class="col-sm-3 control-label">Текст вопроса</label>
        <div class="col-sm-6">
          <textarea class="form-control" name="title" placeholder="Введите текст вопроса"></textarea>
          {% if errs %}
            Тестовая ошибка в поле ввода
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="tag" class=" col-sm-3 control-label">Теги</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="tag1" placeholder="Тег"></input>
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="tag2" placeholder="Тег"></input>
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="tag3" placeholder="Тег"></input>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
          <button type="submit" class="btn btn-primary">Спросить!</button>
        </div>
      </div>
    </form>
  </div>

{% endblock %}
