{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block page_title %}
    <div class="body-block">
        <p class="small">Отсортировать вопросы &nbsp; <a class="btn btn-primary" href="{% url 'questions-new' %}">По дате</a> <a class="btn btn-success" href="{% url 'questions-hot' %}">По рейтингу</a></p>
        <hr />
    </div>
{% endblock %}

{% block content %}

  {% for question in questions %}
    <div class="question question-{% if forloop.counter|divisibleby:2 %}white{% else %}grey{% endif %}">
      <div class="question-info">
        <div class="question-userpic-container">
          {% load static %}
          <img src="{{ question.author.userdata.avatar_url }}" class="userpic" title="Аватар пользователя по умолчанию" />
          <div class="small">{{ question.author.last_name }} {{ question.author.first_name }}</div>
        </div>
        <div class="question-data">
          <div class="question-title">
            <a href="{{ question.get_url }}">{{ question.title }}</a>
          </div>
          <p class="question-text">{{ question.text }}</p>
        </div>
      </div>
      <div class="question-controls">
        <div class="question-vote">
          <a class="btn btn-xs btn-danger" {% if not request.user.is_authenticated %} disabled="disabled" {% endif %} data-question-like-down="{{ question.id }}"><span class="glyphicon glyphicon-thumbs-down"></span></a>
          <span class="question-vote-count" data-question-like-count="{{ question.id }}"> {{ question.likes }} </span>
          <a class="btn btn-xs btn-success" {% if not request.user.is_authenticated %} disabled="disabled" {% endif %} data-question-like-up="{{ question.id }}"><span class="glyphicon glyphicon-thumbs-up"></span></a>
        </div>
        <div class="question-ansref">
          <a href="{{ question.get_url }}">Ответы ({{ question.anscount }})</a>
        </div>
        <div class="tags question-tags">
          {% for tag in question.tags.all %}
            <a href="{{ tag.get_url }}" class="tags-tag tags-tag-{{ tag.get_color_display }}">{{ tag.tag }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="paginator-block" align="center">
      {% include 'paginator.html' with objects=questions %}
  </div>

{% endblock %}
